html {
    scroll-behavior: smooth;
  }

/*Fonts Packs*/

.rubik-rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.radio-canada-big-radiocan {
    font-family: "Radio Canada Big", sans-serif;
    font-optical-sizing: auto;
    font-weight: 551;
    font-style: normal;
}

.playfair-display-playfair {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 580;
  font-style: normal;
}

.raleway-raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 398;
  font-style: normal;
}

.oxygen-regular {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/*End of Font Packs*/

#navbarlogo{
    
    width: 9vw;
    height: 4.7vw;
    margin-left: 10%;
}

#invadtxt{
    font-size: 1vw; font-family: 'Rubik', sans-serif;
}

#vertline{
    border-left: 0.1vw solid rgb(159, 158, 158);
    height: 5vw;
    margin-left: 10%;
}

#navbtncontent{
    font-family: "Radio Canada Big", sans-serif;
    color: rgb(120, 120, 120);
    margin-right: 2vw;
    font-size: 1.2vw;
}

#navbar{
    display: inline-flex; padding: 2%; height: 100%;
}

#navbarlogodiv{
    display: inline-flex;
}

#navbtn{
    height: 3vw; display: inline-flex; padding-top: 1.8%; width: 53vw; margin-left: 27vw;
}

#navbtncontent:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    transition: width .5s ease, background-color .5s ease;
}

#imgquotetext{
    color: rgb(255, 255, 255);
    font-family: 'Playfair Display',serif; 
    font-size: 3vw; 
    text-shadow: 1px 1px 2px rgb(48, 44, 44),0 0 1em rgb(50, 50, 50), 0 0 0.2em rgb(91, 91, 109); 
    position: absolute; 
    top: 20vw;
}

#bgimg1{
    width: 100%;
}


#abtusheading{
    text-align: center; 
    font-family: 'Oxygen', sans-serif; 
    color: rgb(83, 83, 83);
     font-size: 2vw; 
}

#contentbox1{
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

#cbtdiv{
    width: 50vw;
    margin-left: auto; 
    margin-right: auto;
}

#cbtext1{
    font-size: 1.3vw;
    text-align: center; 
    font-family: 'Raleway', sans-serif;
    color: rgb(45, 45, 45);
}

#inphilhead{
    text-align: center;
    color: rgb(83, 83, 83); 
    font-size: 2vw;
    font-family: 'Oxygen', sans-serif;
}

#glasscontainer{
    
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-attachment: fixed; 
    background-size: cover;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 40vw; 
    background-color: #f3f3f3; 
}

#wwodiv{
    display: inline-flex;
    width: 100%; 
    margin-left: 3%;
}



#glasscard {
    border-radius: 25px;
    width: 80vw;
    height: 33vw;
    
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
}
  
#glasscard:before {
    border-radius: 25px;
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.01);
    filter: blur(10px);
    margin: -20px;
    
}

#linevert{
    border-left: 0.1vw solid rgba(159, 158, 158, 0.214);
    height: 25vw;
    margin-right: 2.5vw;
    margin-left: 2.5vw;
}



#linehori{
    border-bottom: 0.1vw solid rgba(159, 158, 158, 0.297);
    width: 64vw;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    
}

#cbtext2{
    color: rgb(217, 217, 217);
    font-size: 150%;
}

#layerbox{
    height: 10vw;
    width: 10vw;
    border: white;
}

#wwobox{
    border-radius: 0.3vw;
    color: white;
    height: 25vw;
    width: 18vw;
    margin-right: 5vw;
    border: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.242);
}

#ringimg{
    width: 12vw;
    margin-top: 1vw;
}

#inphilhead2{
    color: rgb(83, 83, 83);
    font-size: 1.5vw; 
    text-align: center; 
    margin-top: 1vw; 
    font-family: 'Oxygen', sans-serif;
}

#inphilcont{
    color: rgb(106, 106, 106);
    font-size: 1vw; 
    text-align: center; 
    font-family: 'Raleway', sans-serif;
}

#wwobox:hover { 
    box-shadow: 0.2vw 0.1vw 1vw   rgba(86, 84, 84, 0.773);
}

#invprochead{
    text-align: center; 
    color: rgb(83, 83, 83); 
    font-family: 'Oxygen', sans-serif; 
    font-size: 2vw;
}

#invprocimg{
    width: 60%; 
    margin-left: auto; 
    margin-right: auto;
}

#contentbox2{
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 63vw;
    background-color: rgb(255, 255, 255);
}

#whyushead{
    text-align: center; 
    color: rgb(83, 83, 83); 
    font-family: 'Oxygen', sans-serif; 
    font-size: 2vw;
}

#ringimg2{
    width: 12vw;
    margin-top: 1vw;
}

#whyustext{
    color: rgb(83, 83, 83);
    font-size: 1.7vw; 
    text-align: center; 
    margin-top: 1vw; 
    font-family: 'Oxygen', sans-serif;
}

#layer1{
    margin-left:17vw;
}

#whyusbox{
    color: white;
    height: 25vw;
    width: 18vw;
    border: 10px;
    border-color: aliceblue;   
}
#whyusbox:hover { 
    border-radius: 0.3vw;
    background-color: rgb(243, 243, 243);
}

#footer{
    padding-top: 3vw;
    background-color: rgb(31, 31, 31);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#vertlinefooter{
    border-left: 1.5px solid rgb(40, 40, 40);
    height: 5vw;
    margin-left: 1vw;
}

#implinkdiv{
   
    margin-left: 7vw;
    margin-bottom: 4vw;
}

#listhead{
    text-align: center;
    font-size: 1vw;
    font-family: 'Oxygen', sans-serif;
    color: rgb(255, 255, 255);
}

#implinks{
    font-size: 1vw;
    font-family: 'Oxygen', sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-bottom: 0.5vw;
}

#implinksul{
    font-size: 1vw;
    font-family: 'Oxygen', sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-bottom: 0.5vw;
}

#implinksul:hover{
    text-decoration: underline rgb(148, 148, 148);
    text-decoration-thickness: 1.5px;
    transition: width .5s ease, background-color .5s ease;
}

#ctusimg{
    width: 1.5vw;
    height: 1.5vw;
    margin-right: 1.3vw;
    margin-top: 1.2vw;
}

#footerinvadtxt{
    font-size: 1vw; font-family: 'Rubik', sans-serif; color: rgb(151, 151, 151);
}

#contactus{
    display: inline-flex;
}

#getintouchhead{
    color: rgb(83, 83, 83); 
    font-size: 2vw; 
    text-align: center; 
    margin-bottom: 2.5vw; 
    font-family: 'Oxygen', sans-serif;
}

body {
    font-family: "Inter", sans-serif;
}
.formbold-main-wrapper {
    margin-left: 32vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vw;
}

.formbold-form-wrapper {
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    background: white;
}

.formbold-input-flex {
    display: flex;
    gap: 3vw;
    margin-bottom: 1vw;
}
.formbold-input-flex > div {
    width: 50%;
    display: flex;
    flex-direction: column-reverse;
}
.formbold-textarea {
    display: flex;
    flex-direction: column-reverse;
}

.formbold-form-input {
    width: 100%;
    padding-bottom: 0vw;
    border: none;
    border-bottom: 0.15vw solid #c3d7f5;
    background: #FFFFFF;
    font-weight: 500;
    font-size: 1vw;
    color: #07074D;
    outline: none;
    resize: none;
}
.formbold-form-input::placeholder {
    color: #536387;
}
.formbold-form-input:focus {
    border-color: #6A64F1;
}
.formbold-form-label {
    color: #07074D;
    font-weight: 500;
    font-size: 1vw;
    display: block;
    margin-bottom: 0.5vw;
}
.formbold-form-input:focus + .formbold-form-label {
    color: #6A64F1;
}


.formbold-btn {
    font-size: 1vw;
    border-radius: 0.5vw;
    padding: 1vw 1vw;
    border: none;
    font-weight: 500;
    background-color: #6A64F1;
    color: white;
    cursor: pointer;
    margin-top: 1vw;
}
.formbold-btn:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

#ctinfodiv{
    margin-left: 10vw; 
    margin-top: 4vw;
}

#headcont{
    width: 100%;
    background: #ffffff;
    font-weight: 500;
    font-size: 1vw;
    color: #07074D;
    
}

#infocont{
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 0.15vw solid #DDE3EC;
    background: #FFFFFF;
    font-weight: 500;
    font-size: 1vw;
    color: #07074D;
    
}

.google-map {
    padding-bottom: 30%;
    position: relative;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

#btmfooter{
    width: 100%;
    height: 3vw;
    background-color: black;
    padding-top: 0.5vw;
}

#headunderline{
    border-bottom: 0.2vw solid rgb(89, 89, 89);
    width: 6vw;
    margin-left: auto; 
    margin-right: auto;
    margin-top: -1.7vw;
    margin-bottom: 2vw;    
}

#horiline2{
    border-bottom: 0.1vw solid rgb(207, 207, 207);
    width: 50vw;
    margin-left: auto; 
    margin-right: auto;
}

#insightdiv{
    padding: 0vw;
    width: 100%;
}

/*    ----------------------------------------------------------------- Insight page --------------------*/
#reportimg{
    width: 7vw;
    margin-top: 1vw;
}

#pdfbtn{
    width: 7vw;
    height: 3vw;
    margin-left: 5.6vw;
    background-color: rgb(224, 250, 255);
    border: none;
    font-size: 0.9vw;
}


#pdfbtn:hover{
    background-color: rgb(103, 146, 154);
}


/* ---------------------- @media ---------------------------------------------------------------------------*/
@media screen and (max-width: 768px) {

    #imgquotetext{
        font-size: 5vw;
    }

    #abtusheading{
        font-size: 5vw;
    }
    #contentbox1{
        width: 70%;

    }

    #cbtext1{
        font-size: 3vw;
    }
    
    #cbtdiv{
        width: 100%;
        margin-left: auto; 
        margin-right: auto;
    }

    #inphilhead{
        font-size: 5vw;
    }

    #wwodiv{
        
        width: 100%; 
        margin-left: 3%;
    }

    #glasscontainer{
        height: 265vw; 
    }

    #glasscard{
        height: 265vw;
    }

    #wwodiv{
        display: block;
        width: 80%; 
        margin-left: auto;
        margin-right: auto;
    }

    #wwobox{
        margin-left: auto;
        margin-right: auto;
        height: 60vw;
        width: 36vw;
    }

    #ringimg{
    
        width: 25vw;
        margin-top: 2vw;
    }

    #inphilhead2{
        font-size: 5vw; 
    }
    
    #inphilcont{
        font-size: 2.7vw; 
    }

    #invprochead{
        font-size: 5vw;
    }

    #invprocimg{
        width: 100%; 
        
    }

    #contentbox2{
        
        width: 100%;
        height: 95vw;
        
    }

    #whyushead{
        font-size: 5.5vw;
    }

    #layer1{
        margin-left: 2.5vw;
    }

    #whyusbox{
        
        height: 35vw;
        width: 28vw;
        border: 10px;
        border-color: aliceblue;   
    }

    #ringimg2{
        width: 18vw;
        margin-top: 1vw;
    }

    #whyustext{
        
        font-size: 3vw; 
    }

    #contactus{
        display: grid;
    }

    #getintouchhead{
        font-size: 6vw; 
    }

    .formbold-main-wrapper {
        margin-left: 10vw;
    }

    .formbold-input-flex > div {
        width: 80%;
        display: flex;
        flex-direction: column-reverse;
    }
    .formbold-textarea {
        display: flex;
        flex-direction: column-reverse;
    }
    
    .formbold-form-input {
        width: 80%;
        padding-bottom: 0vw;
        border: none;
        border-bottom: 0.15vw solid #c3d7f5;
        background: #FFFFFF;
        font-weight: 500;
        font-size: 2vw;
        color: #07074D;
        outline: none;
        resize: none;
    }
    .formbold-form-input::placeholder {
        color: #536387;
    }
    .formbold-form-input:focus {
        border-color: #6A64F1;
    }
    .formbold-form-label {
        color: #07074D;
        font-weight: 500;
        font-size: 2.5vw;
        display: block;
        margin-bottom: 0.5vw;
    }
    .formbold-form-input:focus + .formbold-form-label {
        color: #6A64F1;
    }
    
    
    .formbold-btn {
        font-size: 2vw;
        border-radius: 0.5vw;
        padding: 1vw 1vw;
        border: none;
        font-weight: 500;
        background-color: #6A64F1;
        color: white;
        cursor: pointer;
        margin-top: 1vw;
    }
    .formbold-btn:hover {
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
    }

    #ctinfodiv{
        margin-left: 2vw;
        margin-top: 4vw;
        display: inline-flex;
    }

   #infocontdiv1{
    width: auto;
    width: 31.5vw;
    padding: 0%;
   }
   #infocontdiv2{
    width: auto;
    width: 35vw;
    padding: 0%;
   }
   

    #headcont{
        width: 100%;
        font-size: 3.5vw;
        
    }
    
    #infocont{
        width: 60%;
        font-size: 2.3vw;  
          
    }

    #linkdiv{
        display: block;
    }

    #implinkdiv{
        margin-left: 5vw;
        margin-bottom: 6vw;
    }

    #listhead{
        text-align:left;
        font-size: 3.5vw;
    }

    #implinks{
        font-size: 2vw;
    }

    #implinksul{
        font-size: 2vw;
    }

    #implinklist{
        text-align: left;
        padding-left: 2vw;
    }

    #ctusimg{
        width: 3vw;
        height: 3vw;
        margin-right: 1.3vw;
        margin-top: 2.5vw;
    }

    #footerinvadtxt{
        font-size: 2vw; font-family: 'Rubik', sans-serif; color: rgb(151, 151, 151);
    }

    #vertlinefooter{
        
        height: 7.9vw;
        margin-left: 1vw;
    }

    #navbarlogo{
        width: 15vw;
        height: 7.8vw;
        margin-left: 10%;
    }

    #invadtxt{
        font-size: 2vw; font-family: 'Rubik', sans-serif;
    }

    #navbar{
        display: block; padding: 2%; height: 100%;
    }

    #vertline{
        
        height: 8vw;
        margin-left: 10%;
    }

    #navbtn{
        margin-top: 1vw;
        height: 3vw; 
        display: inline-flex; 
        padding-top: 1.8%; 
        width: 100%; 
        margin-left: 0vw;
    }

    #navbarlogodiv{
        margin-left: 33vw;
        display: inline-flex;
    }

    #navbtncontent{
        font-family: "Radio Canada Big", sans-serif;
        color: rgb(120, 120, 120);
        margin-left: 3.5vw;
        font-size: 2.5vw;
    }

}